// ***** Importing "Inter" font *****
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

// ***** SCSS Variables *****
$mainColor: #0064EB;
$backgroundColor: #F9F9F9;
$whiteColor: #FFFFFF;
$lighterGrey: #DADADA;
$darkerGrey: #808080;
$textColor: #000000;
$borderRadius: 6px;

// ****** Default styles ******
html {
  box-sizing: border-box;
  font-size: 62.5%;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: $textColor;
  font-weight: 400;
  overflow: hidden;
  background-color: $backgroundColor;
}

.state {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

a:link, a:visited {
  text-decoration: none;
  color: $mainColor;
}

// ***** HEADER *****

.header {
  background-color: $mainColor;
  padding: 1.6rem 4rem;

  .container {
    display: flex;
    align-items: center;
    gap: 2.2rem;

    .search-form {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        height: 14px;
        width: 14px;
        background: url('./img/search-icon.svg') center center no-repeat;
      }

      &__input {
        padding: .8rem .8rem .8rem 4.4rem;
        width: 50rem;
        height: 4rem;
        font-size: 1.4rem;
        border-radius: $borderRadius;
        border: none;
        outline: none; // No outline in design when focused
      }

      .github-icon {
        width: 4rem;
        height: 4rem;
        fill: $whiteColor;
      }
    }
  }
}

// ***** EMPTY STATE COMPONENT *****

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.6rem;
  max-width: 21rem;

  &__icon {
    height: 6.4rem;
    width: 6.4rem;
  }

  &__text {
    font-size: 2.2rem;
    color: $darkerGrey;
    text-align: center;
  }
}

// ***** USER COMPONENT *****
.main-screen {
  display: flex;
  gap: 8.5rem;
}

.user {
  padding-top: 4rem;
  max-width: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__photo {
    max-width: 28rem;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;
  }

  &__name {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 130%;
    margin-bottom: 1.2rem;
  }

  &__link {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 2.5rem;
  }

  &__follow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--item {
      font-size: 1.6rem;
      line-height: 150%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

}
