// ***** Importing "Inter" font *****

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

// ***** SCSS Variables *****

$mainColor: #0064EB;
$backgroundColor: #F9F9F9;
$whiteColor: #FFFFFF;
$lighterGrey: #DADADA;
$darkerGrey: #808080;
$textColor: #000000;
$borderRadius: 6px;

// ****** Default styles ******

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: $textColor;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $backgroundColor;
  position: relative;
}

.state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

a:link, a:visited {
  text-decoration: none;
  color: $mainColor;
}

::-moz-selection {
  background-color: $mainColor;
  color: $whiteColor;
}

::selection {
  background-color: $mainColor;
  color: $whiteColor;
}

// ***** HEADER *****

.header {
  background-color: $mainColor;
  padding: 1.6rem 4rem;

  .container {
    display: flex;
    align-items: center;
    gap: 2.2rem;

    .search-form {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        height: 14px;
        width: 14px;
        background: url('./img/search-icon.svg') center center no-repeat;
      }

      &__input {
        padding: .8rem .8rem .8rem 4.4rem;
        width: 50rem;
        height: 4rem;
        font-size: 1.4rem;
        border-radius: $borderRadius;
        border: none;
        outline: none; // No outline in design when focused
      }

      .github-icon {
        width: 4rem;
        height: 4rem;
        fill: $whiteColor;
      }
    }
  }
}

// ***** EMPTY STATE COMPONENT *****

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.6rem;
  max-width: 25rem;

  &__icon {
    height: 6.4rem;
    width: 6.4rem;
  }

  &__text {
    font-size: 2.2rem;
    line-height: 140%;
    color: $darkerGrey;
    text-align: center;
  }
}


// ***** EMPTY STATE COMPONENT *****

.load-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $darkerGrey;
    border-color: $darkerGrey transparent $darkerGrey transparent;
    -webkit-animation: spinner 1.2s linear infinite;
            animation: spinner 1.2s linear infinite;
  }
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ***** USER COMPONENT *****

.main-screen {
  display: flex;
  align-items: baseline;
  gap: 8.5rem;
}

.user {
  padding-top: 4rem;
  max-width: 29rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__photo {
    max-width: 28rem;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;
  }

  &__name {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 130%;
    margin-bottom: 1.2rem;
  }

  &__link {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 2.5rem;
    align-self: flex-start
  }

  &__follow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--item {
      font-size: 1.6rem;
      line-height: 150%;
      display: flex;
      align-items: center;
      gap: .8rem;
    }
  }
}

// ***** REPOS COMPONENT *****

.empty {
  width: 100%;
  //height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repos {
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-top: 3rem;
  width: 100%;

  &__title {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 130%;
  }

  &__list {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}

.repository {
  padding: 2.4rem 3.2rem;
  background-color: $whiteColor;
  border-radius: $borderRadius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;

  &__title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

// ***** PAGINATION COMPONENT *****

.pagination {
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2.4rem 1.4rem;
  gap: 2.4rem;
  color: $darkerGrey;

  &__control,
  &__numbers {
    display: flex;
    gap: 1.6rem;
    color: inherit;
  }
}

.btn, .pageItem {
  background-color: transparent;
  border: none;
  padding: 1rem;
  color: inherit;
  cursor: pointer;
  border-radius: $borderRadius;

  &:disabled {
    cursor: default;
  }

  &:hover {
    color: $mainColor;

    &:disabled {
      color: $darkerGrey;
    }
  }
}

.btn {
  font-weight: 700;
}

.active {
  background-color: $mainColor;
  color: $whiteColor;

  &:hover {
      color: $whiteColor !important;
    }
}

.dots {
  align-self: center;
  font-weight: 700;
}

// ***** MEDIA QUERIES *****
@media screen and (max-width: 1240px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 690px) {
  .main-screen {
    flex-direction: column;
    align-items: center;
    gap: 0;

    .empty {
      margin-top: 10rem;
    }

    .user {
      padding-top: 2rem;
      align-items: center;

      &__photo {
        max-width: 20rem;
      }

      &__name, &__link {
        margin-bottom: 1.5rem;
      }

      &__link {
        align-self: center
      }

      &__follow {
        gap: 1rem;
      }
    }

    .repos {
      padding-top: 2rem;

      &__title {
        padding: 0 2rem;
        font-size: 2.4rem;
      }

      &__list {
        padding: 1.5rem;

        .repository {
          &__title {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .header {
    padding: 1.6rem;

    .container {
      .search-form {
        width: 100%;

        &__input {
          width: 100%;
        }
      }
    }
  }

  .repos {
    &__list {
      .repository {
        padding: 1.8rem 2.4rem;
        gap: 1rem;
      }
    }
  }

  .main-screen {
    .user {
      &__photo {
        max-width: 16rem;
        margin-bottom: 1.6rem;
      }
    }
  }

  .pagination {
    margin: 1.6rem 0;
    gap: 1rem;
    flex-direction: column;
  }
}